*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
    border: border-box;
}

/* box1 */

.navbar{
    height: 90px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo{
    height: 60px;
    width: 155px;
}

.logo{
    background-image: url(logo.png);
    background-size: cover;
    height: 60px;
    width: 155px;
}

.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid rgb(180, 170, 170);
}

/* box3 */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    height: 40px;
    border: 4px;
}

.search-input{
    /* width: 100%;
    font-size: 1rem;
    border: none;    
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; */
    margin-top: 4px;
    margin-right: 10px;
    padding: 6px;
    font-size: 17px;
    border: 2px soild black ;
    border-radius: 20px;

}

.search-icon{
    width: 70px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #f2af11;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}